#root {
  height: 100%;
  margin: 0 auto;
  text-align: center;
  border-radius: 10px 10px 10px 10px;
}

.toast-message {
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #4caf50;
  color: white;
  padding: 12px 24px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  z-index: 1000;
  font-size: 16px;
}
.toast-message.show {
  opacity: 1;
}
.toast-message.error {
  background-color: #f44336;
}

button {
  outline: none;
  box-shadow: none;
}
