.dashboard-container {
  max-width: 80rem;
  margin: 0 auto;
}

.menu-container {
  display: flex;
  justify-content: space-between;
  padding-inline-start: .625rem;
  padding-inline-end: .625rem;
  padding-top: .3125rem;
  padding-bottom: .3125rem;
  align-items: center;
  background-color: #242424;
  position: relative;

  & .logo-menu {
    max-height: 3.75rem;
    border-radius: .625rem;

    &:hover {
      cursor: pointer;
    }
  }

  & .buttons-menu-container {
    display: flex;
    justify-content: space-around;
    gap: 1.25rem;
  }

  & button {
    color: white;
    border: none;
    padding: .5rem .75rem;
    border-radius: .375rem;
    background-color: transparent;
  }

  & .btn-burguer-menu {
    display: none;
    font-size: 1.75rem;
    background-color: none;
    border: none;
    cursor: pointer;
  }

  img {
    max-height: 1.875rem;
    border-radius: .625rem;

    &:hover {
      cursor: pointer;
    }
  }
}

@media (max-width: 48rem) {
  .menu-container {
    flex-wrap: wrap;

    & .btn-burguer-menu {
      color: orangered;
      display: block;
    }

    & .buttons-menu-container {
      display: none;
      flex-direction: column;
      align-items: flex-start;
      background-color: #242424;
      position: absolute;
      top: 100%;
      right: .625rem;
      padding: .625rem;
      border-radius: .5rem;
      box-shadow: 0 .25rem .75rem rgba(0, 0, 0, 0.1);
      z-index: 1000;
      width: max-content;
    }

    & .buttons-menu-container.open {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    & .buttons-menu-container > div {
      margin-bottom: .5rem;
    }
  }
}