.body-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.home-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-inline-start: 100px;
  margin-inline-end: 100px;
  align-items: center;
  padding: 10px;
  border: 1px solid grey;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.658);
  max-width: 1280px;
  color: #242424;

  .info-home-container {
    max-width: 80%;
  }
}

.info-home-container {
  padding-inline-start: 100px;
}

.info-logreg-background {
  background-image: url('/src/assets/back_logreg.webp');
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info-links-log-reg-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 100%;
  border-radius: 15px;
  color: white;
  z-index: 0;

  & .info-links-buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: x-large;

    & .btn-to-login {
      background-color: green;
      z-index: 1;
    }

    & .btn-to-register {
      background-color: orange;
    }
  }
}

.error_message {
  color: red;
  font-style: italic;
  font-size: small;
}

.logo-home {
  border-radius: 15px;
}

/* Responsive styles */
@media (max-width: 1080px) {
  .home-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .info-home-container {
    padding-inline: 20px;
    max-width: 100%;
  }

  .info-home-container h2 {
    font-size: 1.5rem;
  }

  .info-home-container p {
    font-size: 1rem;
  }

  .info-links-buttons-container {
    width: 50vw;
    height: 30vh;
    padding: 10% 30%;
  }

  .btn-to-login,
  .btn-to-register {
    width: 100%;
    padding: 15px;
    font-size: 1rem;
  }

  .logo-home {
    max-width: 200px;
  }

  .info-links-buttons-container p {
    margin: 10px 0;
  }

  img {
    max-width: 100%;
    height: auto;
  }
}
