.home-container {
  min-height: 50vh;
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  padding: 10px;
  border: 1px solid grey;
  border-radius: 15px;

  .info-home-container {
    max-width: 80%;
  }
}

.info-links-log-reg-container {
  display: flex;
  flex-direction: column;
  gap: 20px;

  & .info-links-buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    & .btn-to-login {
      background-color: green;
    }

    & .btn-to-register {
      background-color: orange;
    }
  }
}

.error_message {
    color: red;
    font-style: italic;
    font-size: small;
}

.logo-home {
  border-radius: 15px;
}
