.product-card {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.15s ease, box-shadow 0.15s ease;
}

.product-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 12px 18px fgba(0,0,0,0.12);
}

.product-image {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 3 / 4;
  display: block;
  border-radius: 10px;
}

.product-info-card {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.product-info-card h3 {
  font-size: clamp(0.95rem, 1vw + 0.7rem, 1.2rem);
  line-height: 1.2;
  text-align: start;
  color: #242424;
  margin: 0;
  display: -webkit-box;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.price {
  font-weight: bold;
  color: #198754;
  margin-top: 8px;
  font-size: clamp(0.9rem, 0.6vw + 0.75rem, 1rem)
}

.product-info-card p {
  font-size: clamp(0.85rem, 0.6vw + 0.7rem, 0.95rem);
  text-align: start;
  color: #242424;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-price-fav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.favourite-select,
.owner-product-select {
  inline-size: 20px;
  block-size: 20px;
}

.buttons-product-actions {
  display: flex;
  gap: 6px;
}

@media (max-width: 480px) {
  .product-image {
    aspect-ratio: 1 / 1;

  }

  .product-info-card {
    padding: 8px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {

  .product-info-card h3 {
    font-size: 1rem;
  }

  .price {
    font-size: 0.95rem;
  }
}

@media (min-width: 769px) {
  .product-card:hover {
    transform: translateY(-3px);
  }
}
