.product-principal-container {
  background-color: transparent;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.card-product-container,
.details-product-container,
.edit-product-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.8);
  border-radius: 0.625rem;
  font-size: 1.125rem;
  background-color: #f8ac1a;
}

.new-product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
  border-radius: 0.625rem;
  font-size: 1.125rem;
  gap: 30px;
  color: #242424;
}

.form-data {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.create-product-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.images-np-upload {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: #242424;
  font-weight: 500;
  background-color: #f8ba48;
  border-radius: 15px;
  border: 2px dotted #242424;
}

.images-np-upload label {
  font-weight: 600;
}

.image-uploader-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
  gap: 10px;
  width: 100%;
}

.inputs-np-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: inline-start;
  background-color: #f8ba48;
  border-radius: 15px;
  padding: 15px;
  border: 2px dotted #242424;
}

.input-load {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #242424;
}

.input-load label {
  width: fit-content;
  text-align: start;
  font-weight: 600;
}

.input-load input,
.input-load textarea,
.input-load select {
  background-color: transparent;
  border-radius: 5px;
  border: 2px solid #242424;
  color: #242424;
  padding: 5px;
}

.input-load textarea {
  height: 140px;
}

.input-load select option {
  background-color: #f8ac1a;
  color: #242424;
}

.btn-np-upload {
  background-color: green;
  color: white;
  padding: 12px;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
}

.btn-np-upload:hover {
  background-color: darkgreen;
}

.red {
  color: red;
}

/*LAYOUT*/
.layout-product-container {
  margin: auto;
  width: 100%;
  background: transparent;
  border-radius: 16px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.product-gallery {
  display: flex;
  overflow-x: auto;
  justify-content: center;
  gap: 10px;
  padding: 1rem;
}

.product-gallery img {
  width: fit-content;
  max-width: 180px;
  aspect-ratio: 1;
  border-radius: 10px;
  object-fit: cover;
}

.product-details {
  padding: 2rem;
}

.product-title {
  font-size: clamp(1.6rem, 2vw, 2.2rem);
  margin-bottom: 0.5rem;
  color: #242424;
}

.product-price {
  font-size: clamp(1.4rem, 1.5vw, 1.7rem);
  font-weight: bold;
  color: #00695c;
  margin-bottom: 1rem;
}

.product-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
  color: #555;
}

.product-info span {
  background-color: #e0f2f1;
  padding: 0.4rem 0.8rem;
  border-radius: 20px;
  border: 2px solid #242424;
  font-size: 0.9rem;
}

.product-info span:hover {
  background-color: #79c7c3;
}

.product-description {
  line-height: 1.6;
  margin-bottom: 1.5rem;
  text-align: center;
  color: #242424;
  font-weight: 500;
  font-style: italic;
}

.product-date {
  font-size: 0.9rem;
  color: grey;
  border-top: 1px solid #eee;
  padding-top: 1rem;
  font-style: italic;
}

.button-back-container {
  display: flex;
  justify-content: flex-end;
}

.btn-back-from-product {
  width: 35px;
  margin: 5px;
}

.buttons-ep-container {
  margin: 25px;
}

.product-gallery-edit {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
  background-color: #f8ba48;
  border-radius: 15px;
  border: 2px dotted #242424;
  margin: 25px;
}

.product-gallery-edit label {
  color: #242424;
  font-size: x-large;
  font-weight: 500;
}

.product-details-edit {
  display: flex;
  flex-direction: column;
  margin: 25px;
  padding: 30px;
  gap: 20px;
  background-color: #f8ba48;
  border-radius: 15px;
  border: 2px dotted #242424;
}

.product-details-edit .first-data-product-container,
.product-details-edit .second-data-product-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input-edit {
  display: flex;
  gap: 30px;
  background-color: transparent;
  color: #242424;
}

.input-edit label {
  font-weight: 600;
}

.input-edit input,
.input-edit textarea,
.input-edit select {
  background-color: transparent;
  border-radius: 5px;
  padding: 5px;
  color: #242424;
}

.title-edit {
  width: auto;
}

.first-selects-editp,
.second-selects-editp {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.contact-button {
  margin: 10px;
}

@media (max-width: 480px) {
  .image-uploader-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 5px;
  }

   .product-gallery {
  display: grid;
  grid-template-columns: auto auto;
}

  .product-gallery img {
  width: fit-content;
  max-width: 130px;
  aspect-ratio: 1;
  border-radius: 10px;
  object-fit: cover;
}

  .product-gallery-edit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .product-gallery-edit label {
    font-size: large;
    margin-bottom: 10px;
    text-align: start;
  }

  .input-edit {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .input-edit input,
  .input-edit textarea,
  .input-edit select {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .form-data {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .product-gallery {
  display: grid;
  grid-template-columns: auto auto;
}

  .product-details-edit .first-data-product-container,
  .product-details-edit .second-data-product-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .first-selects-editp,
  .second-selects-editp {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  .product-gallery-edit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .image-uploader-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 5px;
  }

  .product-gallery-edit label {
    font-size: large;
    margin-bottom: 10px;
    text-align: start;
  }

  .input-edit {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .input-edit input,
  .input-edit textarea,
  .input-edit select {
    width: 100%;
  }
}

@media (min-width: 769px) {
  .form-data {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .product-gallery {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 15px;
}

  .product-details-edit .first-data-product-container,
  .product-details-edit .second-data-product-container {
    flex-direction: row;
  }

  .product-gallery-edit {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .product-gallery-edit label {
    font-size: large;
    margin-bottom: 10px;
    text-align: start;
  }

  .input-edit {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .input-edit input,
  .input-edit textarea,
  .input-edit select {
    width: 100%;
  }

  .image-uploader-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
    width: 100%;
  }

    .uploaded-image img {
    width: 150px;
  }
}

@media (min-width: 1080px) {
  .layout-product-container-int {
    display: grid;
    grid-template-columns: auto auto;
  }
}
