.product-card {
  border-radius: 12px;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: 0.2s ease;
  text-align: center;
  height: fit-content;
  max-width: 170px;
}

.product-image {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 3/4;
  border-radius: 10px;
}

.product-info-card {
  padding: 10px;
}

.product-info-card h3 {
  font-size: 1.2rem;
  text-align: start;
  color: #242424;
  margin: 0;
}

.price {
  font-weight: bold;
  color: #198754;
  margin-top: 8px;
}

.product-info-card p {
  font-size: 0.9rem;
  text-align: start;
  color: #242424;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-price-fav {
  display: flex;
  justify-content: space-between;
}

.favourite-select,
.owner-product-select {
  width: 20px;
  height: 20px;
}

.buttons-product-actions {
  display: flex;
  gap: 5px;
}

@media (max-width: 768px) {
  .product-image {
    height: 140px;
  }

  .product-info-card h3 {
    font-size: 1rem;
  }

  .price {
    font-size: 0.95rem;
  }
}

@media (max-width: 480px) {
  .product-image {
    height: 120px;
  }

  .product-info {
    padding: 8px;
  }

  .product-info h3 {
    font-size: 0.95rem;
  }

  .price {
    font-size: 0.9rem;
  }
}
