.product-card {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  background-color: #ffffff;
  border-radius: .75rem;
  box-shadow: 0 .5rem .75rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.15s ease, box-shadow 0.15s ease;
}

.product-card:hover {
  transform: translateY(-0.125rem);
  box-shadow: 0 .75rem 1.125rem fgba(0,0,0,0.12);
}

.product-image {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 3 / 4;
  display: block;
  border-radius: .625rem;
}

.product-info-card {
  padding: .625rem;
  display: flex;
  flex-direction: column;
  gap: .375rem;
}

.product-info-card h3 {
  font-size: clamp(.95rem, 1vw + 11.2px, 1.2rem);
  line-height: 1.2;
  text-align: start;
  color: #242424;
  margin: 0;
  display: -webkit-box;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.price {
  font-weight: bold;
  color: #198754;
  margin-top: .5rem;
  font-size: clamp(.9rem, 0.6vw + .75rem, 1rem)
}

.product-info-card p {
  font-size: clamp(.85rem, 0.6vw + .7rem, .95rem);
  text-align: start;
  color: #242424;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-price-fav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: .5rem;
}

.favourite-select,
.owner-product-select {
  inline-size: 1.25rem;
  block-size: 1.25rem;
}

.buttons-product-actions {
  display: flex;
  gap: .375rem;
}

@media (max-width: 30rem) {
  .product-image {
    aspect-ratio: 1 / 1;

  }

  .product-info-card {
    padding: .5rem;
  }
}

@media (min-width: 30.0625rem) and (max-width: 48rem) {

  .product-info-card h3 {
    font-size: 1rem;
  }

  .price {
    font-size: .95rem;
  }
}

@media (min-width: 48.0625rem) {
  .product-card:hover {
    transform: translateY(-0.1875rem);
  }
}
