.principal-profile-container {
  background-color: #f8ac1a;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.profile-container {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.8);
  border-radius: 0.625rem;
  font-size: 1.125rem;
  background-color: #f8ac1ab2;
}

.photo-container {
  display: grid;
  grid-template-rows: 6fr 3fr 2fr;
  justify-content: center;
  font-size: 0.8125rem;
  font-style: italic;
  width: 11rem;

  & .photo-profile {
    border-radius: 15px;
    width: 9.375rem;
    max-height: 10.625rem;
    aspect-ratio: 9 / 16;
    margin: auto;
  }
}

.photo-and-upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  &:hover {
      cursor: pointer
    }
}

.upload-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #242424;
}

.button-close {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  align-content: flex-end;
  width: 100%;

  & img {
    width: 25px;
    margin-top: 10px;
  }
}

.lastaccess-container {
  height: fit-content;

  & .user-lastaccess-label {
    font-weight: 500;
    text-align: start;
    height: 0.625rem;
    color: #0f4317;
  }

  & .user-lastaccess {
    margin-top: -0.3125rem;
    text-align: end;
    height: 0.625rem;
    color: #0f4317; }
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

.data-user-container {
  display: flex;
  justify-content: space-between;
  color: #242424;

  & .user-name-label,
  .user-lastname-label,
  .user-address-label,
  .user-phone-label,
  .user-birthdate-label,
  .user-email-label,
  .user-password-label {
    font-weight: 500;
    margin-inline-end: 0.625rem;

    font-style: italic;
  }

  & .name-user_,
  .lastname-user,
  .address-user,
  .phone-user,
  .birthdate-user,
  .email-user {
    font-weight: 600;
  }
}

.map-container {
  color: #242424;
  & p {
    font-weight: 600;
  }
}

.hidden-textInput {
  background-color: transparent;
  height: fit-content;
  border: none;
  font-size: 1.125rem;
  color: #242424;
  font-weight: 700;
  text-align: start;
  pointer-events: none;
  text-align: end;
}

.hidden-textInput[type='date']::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

.hidden-textInput[type='date'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.textInput {
  height: fit-content;
  font-size: 1.125rem;
  background-color: transparent;
  color: #242424;
  font-weight: 500;
  text-align: start;
  border-radius: 5px;
  text-align: end;
}

.change-password-user {
  background-color: #242424cc;
  &:hover {
    background-color: #575656cc;
  }
}

.profile-options-container {
  display: flex;
  justify-content: end;
  margin-bottom: 5px;
  gap: 15px;
}

.btn-change-password-user,
.btn-back-to-info-user,
.btn-save-changes {
  background-color: transparent;
  margin: 0;
  padding: 0;
  outline: none;
  box-shadow: none;

  & img {
    width: 30px;
    aspect-ratio: 1;
  }
}

.delete-account-user {
  background-color: transparent;
  border: none;
  color:red
}

.red-span {
  color: red;
}

.data-user-btn-container {
 display: flex;
 justify-content: center;
 align-items: center;
 height: fit-content;
}

.products-user-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0.625rem;
  gap: 0.9375rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.8);
  border-radius: 0.625rem;
  margin: 0.3125rem;
  font-size: 1.125rem;
  background-color: #f8ac1ab2;
  color: #242424;

  & h2 {
    font-style: italic;
  }
}

.owner-products,
.favorite-products {
  background-color: #ffbc40;
  border: 1px dotted #242424;
  border-radius: 10px;
}
.favorite-products{
  background-color: #ffbc40;
}

.owner-products-list,
.favorite-products-list {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  gap: 15px;
  justify-items: center;
}

.forbidden-edit {
  color: red;
  font-style: italic;
  font-weight: bold;
  font-size: small;
}