.principal-profile-container {
  background-color: #f8ac1a;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  height: 100vh;
  flex-wrap: wrap;
  margin: 0;
  gap: 15px;
}
.profile-container {
  display: flex;
  justify-content: space-between;
  padding: 0.625rem;
  gap: 0.9375rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.8);
  border-radius: 0.625rem;
  margin: 0.3125rem;
  font-size: 1.125rem;
  background-color: #f8ac1ab2;
}

.photo-container {
  display: flex;
  flex-direction: column;
  font-size: 0.8125rem;
  font-style: italic;
  width: 10.625rem;

  & .photo-profile {
    border-radius: 15px;
    width: 9.375rem;
    min-height: 10.625rem;
    margin: auto;
  }

  & .hidden-fileInput {
    display: none;
  }

  & .user-lastaccess-label {
    font-weight: 500;
    height: 0.625rem;
    color: #0f4317;
  }

  & .user-lastaccess {
    margin-top: -0.3125rem;
    text-align: end;
    height: 0.625rem;
    color: #0f4317;
  }
}

.photo-profile:hover {
  cursor: default;
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.data-user-container {
  display: flex;
  color: #242424;

  & .user-name-label,
  .user-lastname-label,
  .user-address-label,
  .user-phone-label,
  .user-birthdate-label,
  .user-email-label {
    font-weight: 500;
    margin-inline-end: 0.625rem;
    margin-left: 1.25rem;

  }

  & .name-user_,
  .lastname-user,
  .address-user,
  .phone-user,
  .birthdate-user,
  .email-user {
    font-weight: 600;
  }
}

.map-container {
  color: #242424;
  & p {
    font-weight: 600;
  }
}

.favourites-container {
  display: flex;
  flex-grow: 1;
  overflow-y: auto;
  justify-content: center;
  align-items: center;
  padding: 0.625rem;
  gap: 0.9375rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.8);
  border-radius: 0.625rem;
  margin: 0.3125rem;
  font-size: 1.125rem;
  background-color: #f8ac1ab2;
  color: #242424;

  & h2 {
    font-style: italic;
  }
}
